:root {
    --white: #fff;
    --light-gray: #ebf2f5;
    --yellow: #ffd666;
    --lighter-blue: #96feff;
    --light-blue: #17d6eb;
    --blue: #15c3d6;
    --blue-gradient: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white);
    background-color: var(--light-gray);
}

body, input, button, textarea {
    font: 600 18px Nunito, sans-serif;
}